<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-4 mb-lg-0">
                <h2 class="h5 lined text-white mb-4">About</h2>
                <p class="text-muted text-small">The Bridge, allows any student, staff or professional to acquire relevant online training to embark on the future
                employment opportunity with guaranteed follow-up.</p>
               
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-google-plus"></i></a>
                    </li>
                    <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 mb-4 mb-lg-0">
                <h2 class="h5 text-white lined mb-4">Quick Links</h2>
                <div class="d-flex">
                    <ul class="list-unstyled d-inline-block mr-4 mb-0">
                        <li class="mb-2"><a class="footer-link" href="#"> services</a></li>
                        <
                        <li class="mb-2"><a class="footer-link" href="#">Contact us</a></li>
                    </ul>
                    <ul class="list-unstyled d-inline-block mb-0">
                        <li class="mb-2"><a class="footer-link" href="#">Home </a></li>
                        <li class="mb-2"><a class="footer-link" href="#">About us</a></li>
                        <li class="mb-2"><a class="footer-link" href="#contact">Contact us</a></li>
                    
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <h2 class="h5 text-white lined mb-4">Newsletter</h2>
             
                <div class="input-group mb-3">
                    <input class="form-control text-muted bg-none border-primary" type="text"
                        placeholder="Email address" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="button-addon2" type="button"><i
                                class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</footer>
