
    <header class="header">
        <div class="user-form">
            <div class="close-form d-flex"><i class="bx bx-x"></i></div>
            <div class="form-wrapper container">
                <div class="user login">
                    <div class="form-box">
                        <!-- Reste du contenu du formulaire de connexion ... -->
                        <div class="top">
                            <p>
                                Not a member?
                                <span data-id="#ff0066" routerLink="/register">Register now</span>
                            </p>
                        </div>
                        <form action="">
                            <div class="form-control" style="transform: translateY(-130px);">
                                <h2>Hello Again!</h2>
                                <p>Welcome back .</p>
                                <input type="email" placeholder="Enter email" id="mail_address"
                                    formControlName="mail_address" />
                                <div>
                                    <input type="password" placeholder="Password" id="password"
                                        formControlName="password" />
                                    <div class="icon form-icon">
                                        <!-- <img src="./images/eye.svg" alt="" /> -->
                                    </div>
                                </div>
                                <span>Recovery Password</span>
                                <input type="Submit" value="Login" />
                            </div>
                            <div class="form-control" style="transform: translateY(130px);">
                                <p>Or continue with</p>
                                <div class="icons d-flex">
                                    <div class="icon d-flex">
                                        <i class="bx bxl-facebook"></i>
                                    </div>
                                    <div class="icon d-flex"><i class="bx bxl-twitter"></i></div>
                                    <div class="icon d-flex"><i class="bx bxl-instagram"></i></div>
                                    <div class="icon d-flex"><i class="bx bxl-youtube"></i></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="img-box">
                        <img src="../../assets/AN_9antra2.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Le reste du code reste inchangé... -->
    </header>

