
    <header class="header">
        <div class="user-form">
            <div class="close-form d-flex"><i class="bx bx-x"></i></div>
            <div class="form-wrapper container">
                <div class="user login">
                    <!-- Reste du contenu du formulaire d'inscription ... -->
                    <div class="icon">
                        <img src="../../assets/CoursImg.png" alt="" style="transform: translateY(-20px);" />
                    </div>
                    <div class="form-box">
                        <div class="top">
                            <p>
                                Already a member?
                                <span data-id="#1a1aff" routerLink="/login">Login now</span>
                            </p>
                        </div>
                        <form action="">
                            <div class="form-control" style="transform: translateY(-130px);">
                                <h2>Welcome Codevo!</h2>
                                <p>It's good to have you.</p>
                                <input type="email" placeholder="Enter Email" name="mail_address" />
                                <div>
                                    <input type="password" placeholder="Password" name="password" />
                                    <div class="icon form-icon">
                                        <img src="./assets/eye.svg" alt="Eye Icon" />
                                    </div>
                                </div>

                                <input type="Submit" value="Register"  />
                            </div>
                            <div class="form-control" style="transform: translateY(150px);">
                                <p>Or continue with</p>
                                <div class="icons d-flex">
                                    <div class="icon d-flex">
                                        <i class="bx bxl-facebook"></i>
                                    </div>
                                    <div class="icon d-flex"><i class="bx bxl-twitter"></i></div>
                                    <div class="icon d-flex"><i class="bx bxl-instagram"></i></div>
                                    <div class="icon d-flex"><i class="bx bxl-youtube"></i></div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>
        <!-- Le reste du code reste inchangé... -->
    </header>

